<a href="https://colab.research.google.com/github/misrapk/CoronaVirus-Detector-ML/blob/master/Coronavirus_Idea.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Features**


1.   Average Fever - continuous
2.   Body Pain - 0/1
3.   Age - Discrete
4.   Runny Nose - 0/1
5.   Breathing (difficulty) - Categorical - -1/0/1

**Labels**

1.   Probability of CORONA Infection

In [0]:
from google.colab import files
uploaded = files.upload()

Saving coronaData.csv.csv to coronaData.csv.csv

In [0]:
import numpy as np
import pandas as pd

In [0]:
import io
mydata = pd.read_csv(io.BytesIO(uploaded['coronaData.csv.csv']))

In [0]:
mydata.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0   99.017832         0   94          1          -1              0
1  100.244087         0  100          0           0              0
2  101.758140         0   87          0           1              0
3   99.483510         1   34          0           0              1
4  100.657616         1    6          0          -1              1

In [0]:
mydata.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1994   99.585144         1   49          0           0              1
1995   98.927851         0   57          0          -1              0
1996   99.831097         0   53          0          -1              0
1997  101.106611         1   87          1           0              0
1998   99.616284         0   82          1           0              1

In [0]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999 entries, 0 to 1998
Data columns (total 6 columns):
fever            1999 non-null float64
bodyPain         1999 non-null int64
age              1999 non-null int64
runnyNose        1999 non-null int64
diffBreath       1999 non-null int64
infectionProb    1999 non-null int64
dtypes: float64(1), int64(5)
memory usage: 93.8 KB

In [0]:
mydata.describe()

             fever     bodyPain  ...   diffBreath  infectionProb
count  1999.000000  1999.000000  ...  1999.000000    1999.000000
mean    100.052968     0.508754  ...     0.004002       0.509255
std       1.161267     0.500048  ...     0.813416       0.500039
min      98.001722     0.000000  ...    -1.000000       0.000000
25%      99.043884     0.000000  ...    -1.000000       0.000000
50%     100.098031     1.000000  ...     0.000000       1.000000
75%     101.069818     1.000000  ...     1.000000       1.000000
max     101.998986     1.000000  ...     1.000000       1.000000

[8 rows x 6 columns]

In [0]:
mydata['diffBreath'].value_counts()

 0    677
 1    665
-1    657
Name: diffBreath, dtype: int64

In [0]:
mydata['infectionProb'].value_counts()

1    1018
0     981
Name: infectionProb, dtype: int64

In [0]:
import numpy as np

In [0]:
#train test split
def data_split(data, ratio):
  np.random.seed(42)
  shuffled = np.random.permutation(len(data))
  test_set_size = int(len(data) * ratio)
  test_indices = shuffled[:test_set_size]   #all rows with test_set_size column
  train_indices = shuffled[test_set_size:]

  return data.iloc[train_indices], data.iloc[test_indices]

In [0]:
train, test = data_split(mydata, 0.2)

In [0]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
966    99.927675         1   58          0          -1              0
240    99.851122         0   85          1           1              1
812   101.277924         0   34          1           1              0
1824  100.587874         0   88          1           0              0
1244   99.244338         1   92          1           0              0
...          ...       ...  ...        ...         ...            ...
1130   98.903795         0   87          1          -1              0
1294  100.540167         0    1          1           1              1
860   101.981432         1   25          1           1              1
1459  101.250670         0   75          0           0              1
1126   98.563939         1   27          0           1              0

[1600 rows x 6 columns]

In [0]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
256   101.394844         1   64          1           1              1
352    99.331758         1   66          0          -1              1
298    99.093415         0    9          1          -1              0
581    99.965099         0   94          1           0              1
1288  100.369830         0   29          0           0              0
...          ...       ...  ...        ...         ...            ...
1616  101.268732         1   93          0           0              1
650   100.908348         0   62          0          -1              1
1973  101.333228         1   48          1          -1              1
261    99.914165         0   80          0           1              0
1305   99.159632         0   91          0          -1              1

[399 rows x 6 columns]

In [0]:
train.size

9600

In [0]:
x_train = train[['fever', 'bodyPain', 'age', 'runnyNose', 'diffBreath']].to_numpy()
x_test = test[['fever', 'bodyPain', 'age', 'runnyNose', 'diffBreath']].to_numpy()

In [0]:
y_train = train[['infectionProb']].to_numpy().reshape(1600,)
y_test = test[['infectionProb']].to_numpy().reshape(399,)

In [0]:
#training using logistic regression
from sklearn.linear_model import LogisticRegression

In [0]:
clf = LogisticRegression()

In [0]:
clf.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
inputFeatures= [100,1,22,-1,1]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [0]:
print(infProb*100)

52.72042456058364